

.img{
    margin-left:42%;
}
.l1{
    margin-left:39%;
}

.p1{
    color: white;
}
.cr7{
    border-radius: 5px;
    width: 200;
    height: 200;
    padding-left: 10px;
}
.txt{
    font-style: italic;
    font-size: larger;
}
.elo{
    border-radius: 5px;
    padding-left: 10px;
}
