<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="site.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
  <div class="row part1">
    <div class="col-lg-4">
<div class="row">
  <div class="col-lg-1 p-1">
    <img class="image1" src="../layout/img/timer4.png" alt="">
    </div>
    <div class="col-lg-6 mt-1">
    <p>Monday-Friday :10:00-18:00</p>
  </div>
  <div class="col-lg-2 p-0">
    <div class="row">
      <div class="col-lg-3 p-1">
        <img class="image1" src="../layout/img/mail1.png" alt="">
        </div>
        <div class="col-lg-6 mt-1">
        <p>mail@company.com</p>
      </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="col-lg-4 p-0">
    <div class="row">
      <div class="col-lg-1 p-1">
        <img class="image1" src="../layout/img/phone.png" alt="">
      </div>
        <div class="col-lg-4 mt-1">
        <p>+246-801-345</p>
      </div>
        </div>
      </div> 
      <div class="col-lg-4 p-1">
        <div class="row">
          <div class="col-lg-1 p-1 logo1">
            <img class="image1" src="../layout/img/instagram.png" alt="">
          </div>
          <div class="col-lg-1 p-1">
            <img class="image1" src="../layout/img/whatsapp.png" alt="">
          </div>
          <div class="col-lg-1 p-1">
            <img class="image1" src="../layout/img/twitter.png" alt="">
          </div>
        
      </div>
          </div>          
</div>
</div>

<div class="row pk">
 <div class="col-lg-6 mt-1">
  <h1 class="h1">Company Logo</h1>
  </div>
<div class="col-lg ">
  <div class="row pk">
    <div class="col-lg-1 hm1 hm ">
      <p><a class="p1">Home</a></p>
       </div>
    <div class="col-lg-1 hm1">
      <a class="p1">About</a>
    </div>
    <div class="col-lg-1 hm1">
      <a class="p1">Gallery</a>
    </div>
    <div class="col-lg-1 hm1">
      <a class="p1">Contact</a>
    </div>
    <div class="col-lg hg">
      <button type="button" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-6">
    <img src="../layout/img/mountain.jpg" height="700" width="1900" alt="">
  </div>
  </div>

<div class="row">
<div class="col-lg-4">
  <img class="img" src="../layout/img/woman1.jpg" height="400" width="500" alt="">
</div>
  <div class="col-lg-6">
  <h1 class="head"><b>ABOUT OUR COMPANY</b></h1>

  <P class="word"> <b>the expression of ideas and emotions, with the creation of certain aesthetic qualities, in a two-dimensional visual language. The elements of this language its shapes, lines, colours, tones, and textures are used in various ways to produce sensations of volume, space, movement, and light on a flat surface.  </b></p> 
    
    
    <p class="word1"><b> An artist’s decision to use a particular medium, such as tempera, fresco, oil, acrylic, watercolour or other water-based paints, ink, gouache, encaustic, or casein, as well as the choice of a particular form, such as mural, easel, panel, miniature, manuscript illumination, scroll, screen or fan, panorama, or any of a variety of modern forms, is based on the sensuous qualities and the expressive possibilities and limitations of those options.</b></P>
</div>
<div class="col-lg hg1">
  <button type="button" class="btn btn-primary">Read more</button>
</div>

</div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>